<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Spring Security Example </title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-3.5.1.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>
<div th:insert="~{fragments/nav::nav}"></div>
<div class="container mt-5">
    <h1>Registration</h1>
    <div th:if="${message != null}">
        <p th:text="${message}" />
    </div>
    <form th:action="@{/registration}" method="post" >
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name :</label>
            <div class="col-sm-6">
                <input type="text" name="username" class="form-control" placeholder="User name"
                       th:if="${user}" th:value="${user.username}"
                       th:classappend="${usernameError} ? 'is-invalid' : ''"/>
            </div>
            <div th:if="${usernameError}" th:text="${usernameError}" class="text-danger mt-2"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password" class="form-control" placeholder="password"
                       th:classappend="${passwordError} ? 'is-invalid' : ''"/>
            </div>
            <div th:if="${passwordError}" th:text="${passwordError}" class="text-danger mt-2"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password2" class="form-control" placeholder="Retype password"
                       th:classappend="${password2Error} ? 'is-invalid' : ''"/>
            </div>
            <div th:if="${password2Error}" th:text="${password2Error}" class="text-danger"></div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-6">
                <input type="email" name="email" class="form-control" placeholder="some@some.com"
                       th:if="${user}" th:value="${user.email}"
                       th:classappend="${emailError} ? 'is-invalid' : ''"/>
            </div>
            <div th:if="${emailError}" th:text="${emailError}" class="text-danger mt-2"></div>
        </div>
        <div>
            <div class="g-recaptcha" data-sitekey="6LdDY9cZAAAAANLUUt90emo4rAWefGRvPa1ZxpJ9"></div>
            <div th:if="${captchaError}" th:text="${captchaError}" class="text-danger"></div>
        </div>
        <button class="btn btn-primary" type="submit">Sign In</button>
    </form>
</div>
</body>
</html>